@import '~gridle/sass/gridle/gridle';

@include gridle_setup();

@include gridle_register_state(tablet, (
  query: 'only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait)'
));

@include gridle_init();

.container {
  margin: 0 auto;
  max-width: 960px;
}

.row {
  @include gridle_row();
}

.gr-12 {
  @include gridle_grid(12);
}

.gr-6 {
  @include gridle_grid(6);
}

